@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Shippori+Antique&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    width:100dvw;
    height:100dvh;
}
body{
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 102px 1fr 50px;
    font-family: Shippori Antique,SN pro, monospace;
}
:root
{
    --escuro1:#503400;
    --escuro2:#352200;
    --escuro3:#FFAD65;
    --claro1:#FFC889;
    --claro2:#FFD993;
    --claro3:#FFDFBA;
    --borda-clara:#FFA705;
    --branco: white;
    --preto: black;
}
header
{
    width: 100%;
    height: 100%;
    background-color: var(--escuro1);
    display: flex;
    align-items: end;
    justify-content: center;
    nav
    {
        margin-bottom: -7px;
        button
        {
            font-size: 50px;
            background-color: var(--escuro2);
            border: 2px solid var(--borda-clara);
            border-radius: 10px;
            color: var(--branco);
            padding: 5px 22px ;
        }
        :nth-child(1)
        {
            text-decoration: underline;
        }
    }
}
main
{
    width: 100%;
    height: 100%;
    background-color: var(--claro2);
    display: grid;
    grid-template-rows: max(275px) 70%;
    .carrossel
    {
        width: 100%;
        height: 100%;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        .display-carrossel
        {
            width: 1400px;
            height: 250px;
            background-color: black;
            border-radius: 15px;
            display: flex;
            overflow: hidden;
            img
            {
                transition: 0.3s ease-in-out;
                transform: translateX(0%);
            }
        }
    }
    .content
    {
        width: 100%;
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        // background-color: white;
        position: relative;
        aside
        {
            p
            {
                font-size: 20px;
                text-align: center;
            }
            .display-cortes
            {
                width: 298px;
                height: 530px;
                overflow: hidden;
                background-color: white;
                display: flex;
                border: 1px solid var(--escuro2);
                border-radius: 10px;
                img
                {
                    transition: 0.2s ease-in-out;
                    transform: translateX(-0%);
                }
            }
        }
        .display_principal
        {
            width: 70%;
            padding: 0 10px;
            p
            {
                padding-left: 20px;
                font-size: 20px;
            }
            .display_main
            {
                width: 100%;
                height: 90%;
                border: 1px solid;
                border-radius: 10px;
            }
        }
        .zapzap
        {
            right: 2%;
            top: 0;
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            background-color: red;
            position: absolute;
            overflow: hidden;
            img
            {
                width: 50%;
                transform: translateX(10px);
            }
            .campo_conversas_zap
            {
                width: 225px;
                height: 425px;
                background-color: yellow;
                transform: translateX(100%);
                transition: 0.3s ease-in-out;
            }
            .mostrar_zap
            {
                transform: translateX(0%);
            }
        }
    }
}
footer
{
    background-color: var(--escuro1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p
    {
        color: var(--branco);
        a
        {
            text-decoration: none;
            color: var(--branco);
        }
    }
}