@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Shippori+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  width: 100dvw;
  height: 100dvh;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 102px 1fr 50px;
  font-family: SN pro, monospace;
}

:root {
  --escuro1:#503400;
  --escuro2:#352200;
  --escuro3:#FFAD65;
  --claro1:#FFC889;
  --claro2:#FFD993;
  --claro3:#FFDFBA;
  --borda-clara:#FFA705;
  --branco: white;
  --preto: black;
  --block: #787878;
  --good:#00A925;
}

header {
  width: 100%;
  height: 100%;
  background-color: var(--escuro1);
  display: flex;
  align-items: end;
  justify-content: center;
}
header nav {
  margin-bottom: -7px;
}
header nav button {
  font-size: 50px;
  background-color: var(--escuro2);
  border: 2px solid var(--borda-clara);
  border-radius: 10px;
  color: var(--branco);
  padding: 5px 22px;
  cursor: pointer;
}
header nav :nth-child(1) {
  text-decoration: underline;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--claro1);
  display: grid;
  grid-template-rows: 275px 70%;
}
main .carrossel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .carrossel .display-carrossel {
  width: 1400px;
  height: 250px;
  background-color: black;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}
main .carrossel .display-carrossel img {
  transition: 0.3s ease-in-out;
  transform: translateX(0%);
}
main .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
main .content aside p {
  font-size: 20px;
  text-align: center;
}
main .content aside .display-cortes {
  width: 298px;
  height: 530px;
  overflow: hidden;
  background-color: white;
  display: flex;
  border: 1px solid var(--escuro2);
  border-radius: 10px;
}
main .content aside .display-cortes img {
  transition: 0.2s ease-in-out;
  transform: translateX(0%);
}
main .content .display_principal {
  width: 70%;
  padding: 0 10px;
}
main .content .display_principal p {
  padding-left: 20px;
  font-size: 20px;
}
main .content .display_principal .display_main_promocoes {
  width: 100%;
  height: 90%;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: baseline;
}
main .content .display_principal .display_main_promocoes .card_produto {
  background-color: var(--claro2);
  width: 186px;
  height: 247px;
  border: 1px solid var(--preto);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 142px 1fr 1fr 1fr 1fr;
  grid-template-columns: 65% 35%;
  justify-content: baseline;
}
main .content .display_principal .display_main_promocoes .card_produto .img_produto {
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  border-radius: 5px;
  grid-column: 1/-1;
}
main .content .display_principal .display_main_promocoes .card_produto .titulo_produto {
  font-size: 18px;
  padding: 0 5px;
  height: 100%;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-column: 1/-1;
}
main .content .display_principal .display_main_promocoes .card_produto .preco_original {
  font-family: Shippori Antique, monospace;
  grid-column: 1/-1;
  color: var(--block);
  text-decoration: line-through;
  font-size: 15px;
  padding: 0 5px;
}
main .content .display_principal .display_main_promocoes .card_produto .preco_atual {
  font-size: 22px;
  font-family: Shippori Antique, monospace;
  grid-column: 1;
}
main .content .display_principal .display_main_promocoes .card_produto .preco_atual span {
  font-size: 15px;
}
main .content .display_principal .display_main_promocoes .card_produto .preco_atual {
  padding: 0 5px;
}
main .content .display_principal .display_main_promocoes .card_produto .percentual_desconto {
  font-size: 17px;
  grid-column: 1/-1;
  text-align: center;
  color: var(--good);
  padding: 0;
}
main .content .display_principal .display_main_promocoes .avaliacao_produto {
  grid-column: 2;
  grid-row: 4;
  font-size: 17px;
}
main .content .zapzap {
  right: 2%;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
  position: absolute;
  overflow: hidden;
}
main .content .zapzap img {
  width: 50%;
  transform: translateX(20px);
  cursor: pointer;
}
main .content .zapzap .campo_conversas_zap {
  width: 225px;
  height: 425px;
  background-color: var(--claro3);
  border-radius: 5px;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  display: grid;
  grid-template-rows: 1fr 35px;
  overflow: hidden;
}
main .content .zapzap .campo_conversas_zap .tela_conversas {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-content: baseline;
  gap: 5px;
}
main .content .zapzap .campo_conversas_zap .tela_conversas .mensagem_nossa, main .content .zapzap .campo_conversas_zap .tela_conversas .sua_mensagem {
  font-size: 17px;
  padding: 0 5px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0px 5px 5px 5px;
  background-color: var(--escuro3);
}
main .content .zapzap .campo_conversas_zap .tela_conversas .mensagem_nossa {
  grid-column: 1/9;
}
main .content .zapzap .campo_conversas_zap .tela_conversas .sua_mensagem {
  grid-column: 3/-1;
  background-color: var(--claro1);
}
main .content .zapzap .campo_conversas_zap .envio_mensagem {
  background-color: var(--escuro3);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .content .zapzap .campo_conversas_zap .envio_mensagem form input {
  width: 190px;
  height: 24px;
  padding: 0 5px;
  outline: none;
  border: 0.5px solid var(--preto);
  border-radius: 5px;
}
main .content .zapzap .campo_conversas_zap .envio_mensagem svg {
  cursor: pointer;
}
main .content .zapzap .mostrar_zap {
  transform: translateX(0%);
}

footer {
  background-color: var(--escuro1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: var(--branco);
}
footer p a {
  text-decoration: none;
  color: var(--branco);
}/*# sourceMappingURL=estilos.css.map */