@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Shippori+Antique&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    width:100dvw;
    height:100dvh;
}
body{
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 102px 1fr 50px;
    font-family: SN pro, monospace;
}
:root
{
    --escuro1:#503400;
    --escuro2:#352200;
    --escuro3:#FFAD65;
    --claro1:#FFC889;
    --claro2:#FFD993;
    --claro3:#FFDFBA;
    --borda-clara:#FFA705;
    --branco: white;
    --preto: black;
    --block: #787878;
    --good:#00A925;
}
header
{
    width: 100%;
    height: 100%;
    background-color: var(--escuro1);
    display: flex;
    align-items: end;
    justify-content: center;
    nav
    {
        margin-bottom: -7px;
        button
        {
            font-size: 50px;
            background-color: var(--escuro2);
            border: 2px solid var(--borda-clara);
            border-radius: 10px;
            color: var(--branco);
            padding: 5px 22px ;
            cursor: pointer;
        }
        :nth-child(1)
        {
            text-decoration: underline;
        }
    }
}
main
{
    width: 100%;
    height: 100%;
    background-color: var(--claro1);
    display: grid;
    grid-template-rows: max(275px) 70%;
    .carrossel
    {
        width: 100%;
        height: 100%;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        .display-carrossel
        {
            width: 1400px;
            height: 250px;
            background-color: black;
            border-radius: 15px;
            display: flex;
            overflow: hidden;
            img
            {
                transition: 0.3s ease-in-out;
                transform: translateX(0%);
            }
        }
    }
    .content
    {
        width: 100%;
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        // background-color: white;
        position: relative;
        aside
        {
            p
            {
                font-size: 20px;
                text-align: center;
            }
            .display-cortes
            {
                width: 298px;
                height: 530px;
                overflow: hidden;
                background-color: white;
                display: flex;
                border: 1px solid var(--escuro2);
                border-radius: 10px;
                img
                {
                    transition: 0.2s ease-in-out;
                    transform: translateX(-0%);
                }
            }
        }
        .display_principal
        {
            width: 70%;
            padding: 0 10px;
            position: relative;
            // background-color: red;
            overflow: hidden;
            p
            {
                padding-left: 20px;
                font-size: 20px;
            }
            .display_main_promocoes
            {
                width: 99%;
                height: 90%;
                border: 1px solid;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: baseline;
                position: absolute;
                transition: 0.5s ease-in-out;
                // left: 0%;
                transform: translateX(-0%);
                .card_produto
                {
                    background-color: var(--claro2);
                    width: 186px;
                    height: 247px;
                    border: 1px solid var(--preto);
                    border-radius: 5px;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 142px 1fr 1fr 1fr 1fr;
                    grid-template-columns: 65% 35%;
                    justify-content: baseline;
                    .img_produto
                    {
                        width: 100%;
                        height: 100%;
                        background-color: var(--branco);
                        border-radius: 5px;
                        grid-column: 1 / -1;
                    }
                    .titulo_produto
                    {
                        font-size: 18px;
                        padding: 0 5px;
                        height: 100%;
                        font-weight: lighter;
                        text-overflow: ellipsis;
                        white-space: nowrap; 
                        overflow: hidden;
                        grid-column: 1 / -1;
                    }
                    .preco_original
                    {
                       font-family: Shippori Antique, monospace; 
                       grid-column: 1 / -1;
                        color: var(--block);
                        text-decoration: line-through;
                        font-size: 15px;
                        padding: 0 5px;
                    }
                    .preco_atual
                    {
                        font-size: 22px;
                        font-family: Shippori Antique, monospace; 
                        grid-column: 1;
                        span
                        {
                            font-size: 15px;
                        }
                        padding: 0 5px;
                    }
                    .percentual_desconto
                    {
                        font-size: 17px;
                        grid-column: 1 / -1;
                        text-align: center;
                        color: var(--good);
                        padding: 0;
                    }
                }
                .avaliacao_produto
                {
                    grid-column: 2;
                    grid-row: 4;
                    font-size: 17px;
                }
            }
            .display_main_servicos
            {
                width: 99%;
                height: 90%;
                border: 1px solid;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: baseline;
                position: absolute;
                // left: 0%;
                background-color: yellow;
                transform: translateX(110%);
                transition: 0.5s ease-in-out;
            }
            .display_main_contato
            {
                width: 99%;
                height: 90%;
                border: 1px solid;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: baseline;
                position: absolute;
                // left: 0%;
                background-color: red;
                transform: translateX(220%);
                transition: 0.5s ease-in-out;
            }
        }
        .zapzap
        {
            right: 2%;
            top: 0;
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            gap: 10px;
            position: absolute;
            overflow: hidden;
            img
            {
                width: 50%;
                transform: translateX(20px);
                cursor: pointer;
            }
            .campo_conversas_zap
            {
                width: 225px;
                height: 425px;
                background-color: var(--claro3);
                border-radius: 5px;
                transform: translateX(100%);
                transition: 0.3s ease-in-out;
                display: grid;
                grid-template-rows: 1fr 35px;
                overflow: hidden;
                .tela_conversas
                {
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    align-content: baseline;
                    gap: 5px;
                    .mensagem_nossa,.sua_mensagem
                    {
                        font-size: 17px;
                        padding: 0 5px;
                        height: fit-content;
                        border-radius: 0px 5px 5px 5px;
                        background-color: var(--escuro3);
                    }
                    .mensagem_nossa
                    {
                        grid-column: 1 / 9;
                    }
                    .sua_mensagem
                    {
                        grid-column: 3 / -1;
                        background-color: var(--claro1);
                    }
                }
                .envio_mensagem
                {
                    background-color: var(--escuro3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    form
                    {
                        input
                        {
                            width: 190px;
                            height: 24px;
                            padding: 0 5px;
                            outline: none;
                            border: 0.5px solid var(--preto);
                            border-radius: 5px;
                        }
                    }
                    svg
                    {
                        cursor: pointer;
                    }
                }
            }
            .mostrar_zap
            {
                transform: translateX(0%);
            }
        }
    }
}
footer
{
    background-color: var(--escuro1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p
    {
        color: var(--branco);
        a
        {
            text-decoration: none;
            color: var(--branco);
        }
    }
}